
.btn {
  color:#fff;
}

div.row {
  justify-content: center;
}

.btn.btn-success, .btn.btn-danger {
  width: 8em;
  height: 2.5em;
  margin: 10px;
}

th.right {
  padding-right: 8px;
  text-align: right;
}